1. Given an array, check if it contains any duplicates or not.

In [10]:
arr = [1, 2, 4, 2, 5, 9]

In [15]:
def check_duplicates(arr):

  duplicates = False

  for i in range(len(arr)):

    if arr.count(arr[i]) >= 2:

      duplicates = True

      break

    else:

      duplicates = False

  if duplicates:

    return True

  else:

    return False

In [16]:
check_duplicates(arr)

True

2. Given an array and an integer k, rotate the array to the right by k steps.

In [25]:
arr = [1, 2, 3, 4, 5, 6, 7]
k = 3

In [26]:
def shift_right(arr, k):

  length = len(arr)

  shift_array = []

  for i in range(length):

    index = i + k + 1

    if index >= length:

      index = index - length

      shift_array.append(arr[index])

    else:

      shift_array.append(arr[index])

  return shift_array

In [27]:
shift_right(arr, k)

[5, 6, 7, 1, 2, 3, 4]

3. Reverse the given array in-place, means without using any extra data structure.

In [28]:
arr = [2, 4, 5, 7, 9, 12]

In [29]:
reverse_arr = arr[::-1]

reverse_arr

[12, 9, 7, 5, 4, 2]

4. Given an array of integers, find the maximum element in an array

In [30]:
arr = [10, 5, 20, 8, 15]

max(arr)

20

5. Given a sorted array, remove the duplicate element without using any extra data structure.

In [34]:
def remove_duplicates(arr):

  temp = []

  for i in range(len(arr)):

    if arr[i] not in temp:

      temp.append(arr[i])

  return temp

In [36]:
arr = [1, 1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 5]
remove_duplicates(arr)

[1, 2, 3, 4, 5]