**String Based Assignment Problem**

1. Write a program to reverse a string.

In [ ]:
def reverse_string(a):

    reversed_string  = a[::-1]

    return reversed_string

In [ ]:
s = 'Teju'

reverse_string(s)

'ujeT'

2. Check if a string is a palindrome.

In [ ]:
def check_palindrome(a):

    if a == a[::-1]:
        print(a +' is a palindrome')

    else:
        print(a +' is not a palindrome')

In [ ]:
a = "Parot"

check_palindrome(a)

Parot is not a palindrome

In [ ]:
b = "madam"

check_palindrome(b)

madam is a palindrome

3. Convert a string to uppercase.

In [ ]:
upper_a = a.upper()

In [ ]:
upper_a

'PAROT'

4. Convert a string to lowercase.

In [ ]:
lower_a = upper_a.lower()

In [ ]:
lower_a

'parot'

5. Count the number of vowels in a string.

In [ ]:
def count_vowels(x):

    vowels = 'aeiouAEIOU'

    no_of_vowels = 0

    for a in x:

      if a.isalpha() and a in vowels:

        no_of_vowels += 1

    return no_of_vowels

In [ ]:
x = 'Tony stark is the Ironman'


count_vowels(x)

7

6. Count the number of consonants in a string.

In [ ]:
def count_consonents(x):

    vowels = 'AEIOUaeiou'

    no_of_consonents = 0

    for i in x:

      if i.isalpha() and i not in vowels:

         no_of_consonents += 1

    return no_of_consonents

In [ ]:
count_consonents(x)

14

7. Remove all whitespaces from a string

Version A

In [ ]:
def remove_white_spaces(g):

  removed_white_spaces = g.replace(" ", "")

  return removed_white_spaces

In [ ]:
x = 'Tony stark is the Ironman'
remove_white_spaces(x)

'TonystarkistheIronman'

Version B

In [ ]:
def remove_spaces(g):

  new_string = ""

  for i in g:

    if i != " ":

      new_string += i

  return new_string

In [ ]:
remove_spaces(x)

'TonystarkistheIronman'

8. Find the length of a string without using the `len()` function.

In [ ]:
def length_of_string(g):

  string_length = 0

  for i in g:

    string_length += 1

  return string_length

In [ ]:
length_of_string(x)

25

9. Check if a string contains a specific word.

In [ ]:
def check_the_word(word, sentence):

  if word in sentence:

    print(word +" exists in the given sentence")

  else:

    print(word + " does not exist in the given sentence")

In [ ]:
check_the_word('Tony', x)

Tony exists in the given sentence

In [ ]:
check_the_word('iron', x)

iron does not exist in the given sentence

In [ ]:
check_the_word('pepper pots', x )

pepper pots does not exist in the given sentence

10. Replace a word in a string with another word.

In [ ]:
y = 'Pepper Pots is Ironman'

In [ ]:
y.replace('Ironman', 'Ironwomen')

'Pepper Pots is Ironwomen'

11. Count the occurrences of a word in a string.

In [ ]:
y.count('Pepper')

1

In [ ]:
y.count('Tony')

0

12. Find the first occurrence of a word in a string.

In [ ]:
z = "Tony Stark is the owner of Stark industries"

In [ ]:
z.index('Stark')

5

In [ ]:
z.find('Stark')

5

13. Find the last occurrence of a word in a string.

In [ ]:
z.rfind('Stark')

27

14. Split a string into a list of words.

In [ ]:
split_z = z.split()

split_z

['Tony', 'Stark', 'is', 'the', 'owner', 'of', 'Stark', 'industries']

15. Join a list of words into a string.

In [ ]:
joined_z =" ".join(split_z)

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
z

'Tony Stark is the owner of Stark industries'

In [ ]:
z.replace(" ", "_")

'Tony_Stark_is_the_owner_of_Stark_industries'

17. Check if a string starts with a specific word or phrase.

In [ ]:
z.startswith("Pepper")

False

In [ ]:
z.startswith('Tony')

True

18. Check if a string ends with a specific word or phrase.

In [ ]:
z.endswith('industries')

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
v = "king cobra"

v.capitalize()

'King cobra'

20. Find the longest word in a string.

In [ ]:
z

'Tony Stark is the owner of Stark industries'

In [ ]:
split_string_z = z.split()

max_word_length = []

for i in split_string_z:

  max_word_length.append(len(i))


max(max_word_length)

10

21. Find the shortest word in a string.

In [ ]:
split_string_z = z.split()

In [ ]:
min_word_length = []

for i in split_string_z:

  min_word_length.append(len(i))

min(min_word_length)

2

22. Reverse the order of words in a string.

In [ ]:
split_string_z = z.split()

In [ ]:
reverse_split_z = split_string_z[::-1]

In [ ]:
reverse_split_z

['industries', 'Stark', 'of', 'owner', 'the', 'is', 'Stark', 'Tony']

In [ ]:
reverse_z = " "

reverse_z.join(reverse_split_z)

'industries Stark of owner the is Stark Tony'

23. Check if a string is alphanumeric.

In [ ]:
z

'Tony Stark is the owner of Stark industries'

In [ ]:
z.isalnum()

False

24. Extract all digits from a string.

In [ ]:
ironman = "Ironman 1 is interesnting than both Ironman 2 and 3"

In [ ]:
digits =  []

for i in range(len(ironman)):

  if ironman[i].isnumeric():
    digits.append(ironman[i])


digits

['1', '2', '3']

25. Extract all alphabets from a string.

In [ ]:
ironman = "Ironman 1 is interesnting than both Ironman 2 and 3"

In [ ]:
alphabets =  []

for i in range(len(ironman)):

  if ironman[i].isalpha():
    alphabets.append(ironman[i])


alphabets

['I',
 'r',
 'o',
 'n',
 'm',
 'a',
 'n',
 'i',
 's',
 'i',
 'n',
 't',
 'e',
 'r',
 'e',
 's',
 'n',
 't',
 'i',
 'n',
 'g',
 't',
 'h',
 'a',
 'n',
 'b',
 'o',
 't',
 'h',
 'I',
 'r',
 'o',
 'n',
 'm',
 'a',
 'n',
 'a',
 'n',
 'd']

26. Count the number of uppercase letters in a string.

In [ ]:
ironman = "Ironman 1 Is Interesnting Than Both Ironman 2 and 3"

In [ ]:
no_of_uppercase_letters = 0

for i in range(len(ironman)):

  if ironman[i].istitle():

    no_of_uppercase_letters += 1

no_of_uppercase_letters

6

27. Count the number of lowercase letters in a string.

In [ ]:
ironman = "Ironman 1 Is Interesnting Than Both Ironman 2 and 3"

In [ ]:
no_of_lowercase_letters = 0

for i in range(len(ironman)):

  if ironman[i].islower():

    no_of_lowercase_letters += 1

no_of_lowercase_letters

33

28. Swap the case of each character in a string.

In [ ]:
ironman = "Ironman 1 Is Interesnting Than Both Ironman 2 and 3"

In [ ]:
ironman.swapcase()

'iRONMAN 1 iS iNTERESNTING tHAN bOTH iRONMAN 2 AND 3'

29. Remove a specific word from a string.

In [ ]:
ironman

'Ironman 1 Is Interesnting Than Both Ironman 2 and 3'

In [ ]:
split_ironman = ironman.split()

split_ironman.remove("Both")

" ".join(split_ironman)

'Ironman 1 Is Interesnting Than Ironman 2 and 3'

30. Check if a string is a valid email address.

In [ ]:
import re

email1 = "tonystark@starkindustries.com"

email2 = "tonystark.starkindustries.com2"

In [ ]:
def email_validity_check(email):

  pattern = r'^(\w+)+@(\w+)+\.(\w{2,})'

  if re.match(pattern, email):

    print(f'{email} is a valid email address format')

  else:

    print(f'{email} is not a valid address')

In [ ]:
email_validity_check(email1)

tonystark@starkindustries.com is a valid email address format

In [ ]:
email_validity_check(email2)

tonystark.starkindustries.com2 is not a valid address

31. Extract the username from an email address string.

In [ ]:
email_3 = "tony_stark3@startindustries.com"

Method A

In [ ]:
def username_extract_split(email):

  email_split = email.split('@')

  return email_split[0]

In [ ]:
username_extract_split(email_3)

'tony_stark3'

Method B

In [ ]:
import re

def username_extract_re(email):

  pattern = r'(\w+)@'

  match = re.search(pattern, email)

  if match:

    username = match.group(1)

    print(f'Username: {username}')

  else:

    print(f'Username not found')

In [ ]:
username_extract_re(email_3)

Username: tony_stark3

32. Extract the domain name from an email address string.

In [ ]:
import re

def extract_domain(email):

  pattern = r'@(\w+)\.'

  domain_search = re.search(pattern, email)

  print(domain_search.group(1))

In [ ]:
extract_domain(email_3)

startindustries

33. Replace multiple spaces in a string with a single space.

In [ ]:
string_4 = 'Pepper potts   is the     wife of    Tony stark and CEO of     Stark industries'

In [ ]:
def replace_mutilple_spaces(string):

  pattern = r'\s+'

  string_with_single_spaces = re.sub(pattern, " ", string)

  return string_with_single_spaces

In [ ]:
replace_mutilple_spaces(string_4)

'Pepper potts is the wife of Tony stark and CEO of Stark industries'

34. Check if a string is a valid URL.

In [ ]:
import re

def valid_url(url):

  pattern = r'^(www\.)+(\w+)\.+(\w+)$'

  if re.match(pattern, url):

    print(f'The given url is valid')

  else:

    print(f'The given url is not valid')

In [ ]:
url1 = 'www.google.com'

url2 = 'ww.starkinstriescom'

valid_url(url1)

The given url is valid

In [ ]:
valid_url(url2)

The given url is not valid

35. Extract the protocol (http or https) from a URL string.

In [ ]:
import re

def protocol_extract(url):

  pattern = r'(\w+)://'

  protocol_search = re.search(pattern, url)

  protocol = protocol_search.group(1)

  print(protocol)

In [ ]:
url1 = "https://www.youtube.com"


protocol_extract(url1)

https

36. Find the frequency of each character in a string.

In [ ]:
string_5 = 'Effervescent jugglers juggle perplexing juxtapositions of colorful balloons while riding unicycles.'

In [ ]:
for i in string_5:

  print(f'Frequency of {i} in the given string is {string_5.count(i)}')

Frequency of E in the given string is 1
Frequency of f in the given string is 4
Frequency of f in the given string is 4
Frequency of e in the given string is 9
Frequency of r in the given string is 5
Frequency of v in the given string is 1
Frequency of e in the given string is 9
Frequency of s in the given string is 6
Frequency of c in the given string is 4
Frequency of e in the given string is 9
Frequency of n in the given string is 6
Frequency of t in the given string is 3
Frequency of   in the given string is 10
Frequency of j in the given string is 3
Frequency of u in the given string is 5
Frequency of g in the given string is 6
Frequency of g in the given string is 6
Frequency of l in the given string is 9
Frequency of e in the given string is 9
Frequency of r in the given string is 5
Frequency of s in the given string is 6
Frequency of   in the given string is 10
Frequency of j in the given string is 3
Frequency of u in the given string is 5
Frequency of g in the given string is 6
Frequency of g in the given string is 6
Frequency of l in the given string is 9
Frequency of e in the given string is 9
Frequency of   in the given string is 10
Frequency of p in the given string is 3
Frequency of e in the given string is 9
Frequency of r in the given string is 5
Frequency of p in the given string is 3
Frequency of l in the given string is 9
Frequency of e in the given string is 9
Frequency of x in the given string is 2
Frequency of i in the given string is 7
Frequency of n in the given string is 6
Frequency of g in the given string is 6
Frequency of   in the given string is 10
Frequency of j in the given string is 3
Frequency of u in the given string is 5
Frequency of x in the given string is 2
Frequency of t in the given string is 3
Frequency of a in the given string is 2
Frequency of p in the given string is 3
Frequency of o in the given string is 7
Frequency of s in the given string is 6
Frequency of i in the given string is 7
Frequency of t in the given string is 3
Frequency of i in the given string is 7
Frequency of o in the given string is 7
Frequency of n in the given string is 6
Frequency of s in the given string is 6
Frequency of   in the given string is 10
Frequency of o in the given string is 7
Frequency of f in the given string is 4
Frequency of   in the given string is 10
Frequency of c in the given string is 4
Frequency of o in the given string is 7
Frequency of l in the given string is 9
Frequency of o in the given string is 7
Frequency of r in the given string is 5
Frequency of f in the given string is 4
Frequency of u in the given string is 5
Frequency of l in the given string is 9
Frequency of   in the given string is 10
Frequency of b in the given string is 1
Frequency of a in the given string is 2
Frequency of l in the given string is 9
Frequency of l in the given string is 9
Frequency of o in the given string is 7
Frequency of o in the given string is 7
Frequency of n in the given string is 6
Frequency of s in the given string is 6
Frequency of   in the given string is 10
Frequency of w in the given string is 1
Frequency of h in the given string is 1
Frequency of i in the given string is 7
Frequency of l in the given string is 9
Frequency of e in the given string is 9
Frequency of   in the given string is 10
Frequency of r in the given string is 5
Frequency of i in the given string is 7
Frequency of d in the given string is 1
Frequency of i in the given string is 7
Frequency of n in the given string is 6
Frequency of g in the given string is 6
Frequency of   in the given string is 10
Frequency of u in the given string is 5
Frequency of n in the given string is 6
Frequency of i in the given string is 7
Frequency of c in the given string is 4
Frequency of y in the given string is 1
Frequency of c in the given string is 4
Frequency of l in the given string is 9
Frequency of e in the given string is 9
Frequency of s in the given string is 6
Frequency of . in the given string is 1

37. Remove all punctuation from a string.

In [ ]:
string_6 = "The quick brown fox jumps over the lazy dog! Did you see that? It's amazing! Wow, what a beautiful day."

In [ ]:
def remove_punctuation(string_input):

  import string

  translation_table = str.maketrans("","",string.punctuation)

  punctuation_removed = string_input.translate(translation_table)

  return punctuation_removed

In [ ]:
remove_punctuation(string_6)

'The quick brown fox jumps over the lazy dog Did you see that Its amazing Wow what a beautiful day'

38. Check if a string contains only digits.

In [ ]:
string_7 = "1234456789"

string_7.isdigit()

True

39. Check if a string contains only alphabets.

In [ ]:
string_8 = "Ilovemangoes"

In [ ]:
string_8.isalpha()

True

40. Convert a string to a list of characters.

In [ ]:
string_6

"The quick brown fox jumps over the lazy dog! Did you see that? It's amazing! Wow, what a beautiful day."

In [ ]:
string_list  = string_6.split()

string_list

['The',
 'quick',
 'brown',
 'fox',
 'jumps',
 'over',
 'the',
 'lazy',
 'dog!',
 'Did',
 'you',
 'see',
 'that?',
 "It's",
 'amazing!',
 'Wow,',
 'what',
 'a',
 'beautiful',
 'day.']

41. Check if two strings are anagrams.

In [ ]:
anagram1 = "astronomer"

anagram2 = "moon starer"

In [ ]:
def anagram_check(anagram1, anagram2):

  clean_anagram1 = anagram1.replace(" ", "").lower()

  clean_anagram2 = anagram2.replace(" ","").lower()

  anagram1_char_occ = {}

  anagram2_char_occ = {}

  for i in clean_anagram1:

    anagram1_char_occ.update({i:clean_anagram1.count(i)})


  for i in clean_anagram2:

    anagram2_char_occ.update({i:clean_anagram2.count(i)})


  if anagram1_char_occ == anagram2_char_occ:

    print('The given words are anagrams')

  else:

    print('The given words are not anagrams')

In [ ]:
anagram_check(anagram1,anagram2)

The given words are anagrams

In [ ]:
anagram3 = "Tony stark"

anagram4 = "Pepper pots"

In [ ]:
anagram_check(anagram3, anagram4)

The given words are not anagrams

42. Encode a string using a Caesar cipher.

In [ ]:
def ceasar_cipher_encode(text, shift):

  encoaded_text = ""

  for char in text:

    if char.isalpha():


      if char.isupper():

        encoaded_char = chr(((ord(char) + shift - ord('A')) % 26) + ord('A'))

      else:

        encoaded_char = chr(((ord(char) + shift - ord('a')) % 26) + ord('a'))


      encoaded_text += encoaded_char


    else:

      encoaded_text += char


  return encoaded_text

In [ ]:
text = 'AaAa'

ceasar_cipher_encode(text, 4)

'EeEe'

43. Decode a Caesar cipher encoded string.

In [ ]:
def ceasar_cipher_decode(text, shift):

  encoaded_text = ""

  for char in text:

    if char.isalpha():


      if char.isupper():

        encoaded_char = chr(((ord(char) - shift - ord('A')) % 26) + ord('A'))



      else:

        encoaded_char = chr(((ord(char) - shift - ord('a')) % 26) + ord('a'))


      encoaded_text += encoaded_char


    else:

      encoaded_text += char


  return encoaded_text

In [ ]:
ceasar_cipher_decode('aaa', 3)

'xxx'

44. Find the most frequent word in a string.

In [ ]:
string_9 = "This is a sample string. This string contains some sample words. The sample words may repeat."

In [ ]:
def most_freq_word(input_string):

  from collections import Counter
  import string

  translation_table = str.maketrans("","",string.punctuation)
  punctuation_removed = input_string.translate(translation_table)
  input_string_list = punctuation_removed.split()
  word_counts = Counter(input_string_list)
  return word_counts.most_common(1)

In [ ]:
most_freq_word(string_9)

[('sample', 3)]

45. Find all unique words in a string.

In [ ]:
def unique_words(input_string):

  import string

  translation_table = str.maketrans("","",string.punctuation)

  punctuation_removed = input_string.translate(translation_table)

  input_string_set = set(punctuation_removed.split())

  return input_string_set

In [ ]:
unique_words(string_9)

{'The',
 'This',
 'a',
 'contains',
 'is',
 'may',
 'repeat',
 'sample',
 'some',
 'string',
 'words'}

46. Count the number of syllables in a string.

In [ ]:
def count_syllables(input_string):

  import re

  vowel_groups = re.findall(r'[aeiou]+', input_string, re.IGNORECASE)

  return len(vowel_groups)

In [ ]:
string_10 = 'banana'

count_syllables(string_10)

3

47. Check if a string contains any special characters.

In [ ]:
def check_special_char(input_string):

  pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

  match = pattern.search(input_string)

  return bool(match)

In [ ]:
mixed_string = "Hello, world! This is an example sentence with special characters: @#$%^&*"

In [ ]:
check_special_char(mixed_string)

True

48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(input_string, n):

  if n >= 1 and n <= len(input_string):

    input_string_split = input_string.split()

    removed_word = input_string_split.pop(n-1)

    output_string = " ".join(input_string_split)

    return output_string, removed_word

  else:

    return None, None

In [ ]:
remove_nth_word(mixed_string, 5)

('Hello, world! This is example sentence with special characters: @#$%^&*',
 'an')

49. Insert a word at the nth position in a string.

In [ ]:
string_9

'This is a sample string. This string contains some sample words. The sample words may repeat.'

In [ ]:
def insert_word(input_string, word, position):

  split_input_string = input_string.split()

  split_input_string.insert(position, word)

  new_string = " ".join(split_input_string)

  return new_string

In [ ]:
insert_word(string_9, "Teju", 5)

'This is a sample string. Teju This string contains some sample words. The sample words may repeat.'

50. Convert a CSV string to a list of lists.

In [ ]:
csv_string = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

In [ ]:
list_of_strings = csv_string.split('\n')

In [ ]:
list_of_strings

['Name, Age, Country', 'John, 25, USA', 'Alice, 30, Canada', 'Bob, 22, UK']

In [ ]:
def list_of_lists(csv_input_string):

  list_of_strings = csv_input_string.split('\n')

  final_list = []

  for i in list_of_strings:

      final_list.append(i.split())

  return final_list

In [ ]:
list_of_lists(csv_string)

[['Name,', 'Age,', 'Country'],
 ['John,', '25,', 'USA'],
 ['Alice,', '30,', 'Canada'],
 ['Bob,', '22,', 'UK']]

**List Based Practice Problem**

1. Create a list with integers from 1 to 10.

In [ ]:
list_of_integers = []

for i in range(1 ,11):

  list_of_integers.append(i)

list_of_integers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
list_mixed = [42, 3.14159, "Hello, world!", True, "Python", 7.5]

In [ ]:
length_of_list = 0

for i in list_mixed:

  length_of_list += 1

length_of_list

6

3. Append an element to the end of a list.

In [ ]:
list_mixed

[42, 3.14159, 'Hello, world!', True, 'Python', 7.5]

In [ ]:
list_mixed.append('2-5j')

In [ ]:
list_mixed

[42, 3.14159, 'Hello, world!', True, 'Python', 7.5, '2-5j']

4. Insert an element at a specific index in a list.

In [ ]:
list_mixed

[42, 3.14159, 'Hello, world!', True, 'Python', 7.5, '2-5j']

In [ ]:
list_mixed.insert(3, "Teju")

In [ ]:
list_mixed

[42, 3.14159, 'Hello, world!', 'Teju', True, 'Python', 7.5, '2-5j']

5. Remove an element from a list by its value.

In [ ]:
list_mixed.remove("Teju")

In [ ]:
list_mixed

[42, 3.14159, 'Hello, world!', True, 'Python', 7.5, '2-5j']

6. Remove an element from a list by its index.

In [ ]:
list_mixed.pop(2)

'Hello, world!'

In [ ]:
list_mixed

[42, 3.14159, True, 'Python', 7.5, '2-5j']

7. Check if an element exists in a list.

In [ ]:
unique_list = [1, 3.14, "Hello", True, None, (1, 2), {"name": "Alice", "age": 30}, [4, 5, 6], {"apple", "banana", "cherry"}]

In [ ]:
element1 =  {"name": "Alice", "age": 30}

element2 = "Ironman"

if element1 in unique_list:

  print('The given element exist in the list provided')

else:

  print('The given element does not exist in the list provided')

The given element exist in the list provided

In [ ]:
if element2 in unique_list:

  print('The given element exist in the list provided')

else:

  print('The given element does not exist in the list provided')

The given element does not exist in the list provided

8. Find the index of the first occurrence of an element in a list.

In [ ]:
element1

{'name': 'Alice', 'age': 30}

In [ ]:
unique_list.index(element1)

6

9. Count the occurrences of an element in a list.

In [ ]:
repeated_elements_list = [1, 2, 3, 2, 4, 1, 5, 6, 4, 7, 7, 8, 9, 9]

In [ ]:
repeated_elements_list.count(2)

2

10. Reverse the order of elements in a list.

In [ ]:
unique_list

[1,
 3.14,
 'Hello',
 True,
 None,
 (1, 2),
 {'name': 'Alice', 'age': 30},
 [4, 5, 6],
 {'apple', 'banana', 'cherry'}]

In [ ]:
reveresed_list = unique_list[::-1]

print(reveresed_list)

[{'apple', 'cherry', 'banana'}, [4, 5, 6], {'name': 'Alice', 'age': 30}, (1, 2), None, True, 'Hello', 3.14, 1]

11. Sort a list in ascending order.

Method 1

In [ ]:
repeated_elements_list

[1, 2, 3, 2, 4, 1, 5, 6, 4, 7, 7, 8, 9, 9]

In [ ]:
sorted_list = sorted(repeated_elements_list)

In [ ]:
print(sorted_list)

[1, 1, 2, 2, 3, 4, 4, 5, 6, 7, 7, 8, 9, 9]

Method 2

In [ ]:
repeated_elements_list.sort()

In [ ]:
repeated_elements_list

[1, 1, 2, 2, 3, 4, 4, 5, 6, 7, 7, 8, 9, 9]

12. Sort a list in descending order.

Method 1

In [ ]:
repeated_elements_list

[1, 1, 2, 2, 3, 4, 4, 5, 6, 7, 7, 8, 9, 9]

In [ ]:
repeated_elements_list.sort(reverse=True)

In [ ]:
repeated_elements_list

[9, 9, 8, 7, 7, 6, 5, 4, 4, 3, 2, 2, 1, 1]

Method 2

In [ ]:
my_list = [4, 1, 7, 3, 9, 2]

In [ ]:
sorted_descending = sorted(my_list, reverse=True)

In [ ]:
sorted_descending

[9, 7, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [ ]:
even_numbers = []

for i in range(1, 21):

  if i%2 == 0:

    even_numbers.append(i)

In [ ]:
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
odd_numbers = []

for i in range(1, 21):

  if i%2 != 0:

    odd_numbers.append(i)

In [ ]:
odd_numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
sum_of_even_numbers = sum(even_numbers)

sum_of_even_numbers

110

16. Find the maximum value in a list.

In [ ]:
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
max(even_numbers)

20

17. Find the minimum value in a list.

In [ ]:
odd_numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
min(odd_numbers)

1

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
list_of_squares = []

for i in range(1, 11):

  square = i*i

  list_of_squares.append(square)

list_of_squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
import random

random_numbers = []

for i in range(10):

  random_numbers.append(random.randint(1,500))

random_numbers

[197, 363, 33, 76, 238, 289, 162, 256, 341, 368]

20. Remove duplicates from a list.

In [ ]:
repeated_elements_list

[9, 9, 8, 7, 7, 6, 5, 4, 4, 3, 2, 2, 1, 1]

In [ ]:
non_duplicate = set(repeated_elements_list)

In [ ]:
non_duplicate

{1, 2, 3, 4, 5, 6, 7, 8, 9}

21. Find the common elements between two lists.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = []

for i in list1:

  for j in list2:

    if i==j:

      common_elements.append(i)


common_elements

[4, 5]

22. Find the difference between two lists.

In [ ]:
difference1 = list[set(list1).difference(list2)]

In [ ]:
difference1

list[{1, 2, 3}]

In [ ]:
difference2 = list[set(list2).difference(list1)]

In [ ]:
difference2

list[{6, 7, 8}]

23. Merge two lists.

Method 1

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

In [ ]:
merge = list1 + list2

In [ ]:
merge

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

Method 2

In [ ]:
merged_list = list1.extend(list2)

In [ ]:
list1

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

24. Multiply all elements in a list by 2.

In [ ]:
list1

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [ ]:
new_list = []

for i in list1:

  new_list.append(i*2)

In [ ]:
new_list

[2, 4, 6, 8, 10, 8, 10, 12, 14, 16]

25. Filter out all even numbers from a list.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in numbers:

  if i%2 == 0:
    numbers.remove(i)

numbers

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [ ]:
string_numbers = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]

In [ ]:
converted_to_int = []

for i in string_numbers:

  int_num = int(i)

  converted_to_int.append(int_num)

converted_to_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

27. Convert a list of integers to a list of strings.

In [ ]:
converted_to_int

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
converted_to_str = []

for i in converted_to_int:

  string_num = str(i)

  converted_to_str.append(string_num)

converted_to_str

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

28. Flatten a nested list.

In [ ]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

In [ ]:
def flatten_list(n):

  flattened_list = []

  for i in range(len(nested_list)):

    x = nested_list[i]

    for j in range(len(x)):

      flattened_list.append(x[j])

  return flattened_list

In [ ]:
flatten_list(nested_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
def fibonacci_series(n):

  fibonacci_series = [0 ,1]

  for i in range(n-2):

    next_fibonacci = fibonacci_series[i] + fibonacci_series[i+1]

    fibonacci_series.append(next_fibonacci)

  return fibonacci_series

In [ ]:
fibonacci_series(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [ ]:
def check_if_sorted(n):

  sorted_list = sorted(n)

  if n == sorted_list:

    print("The provided list is sorted")

  else:

    print("Provided list is not sorted")

In [ ]:
list_30 = [5, 1, 3, 8, 2, 7, 4, 6]

check_if_sorted(list_30)

Provided list is not sorted

In [ ]:
list_3a_a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

check_if_sorted(list_3a_a)

The provided list is sorted

31. Rotate a list to the left by `n` positions.

In [ ]:
list_31 = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
def shift_pos_left(list_to_shift_left, no_positions):

  length_of_list = len(list_to_shift_left)

  shifted_list = []

  for i in range(length_of_list):

    current_index = i + no_positions

    if current_index > (length_of_list - 1):

      current_index = current_index - length_of_list

      shifted_list.append(list_to_shift_left[current_index])

    else:

      shifted_list.append(list_to_shift_left[current_index])

  return shifted_list

In [ ]:
shift_pos_left(list_31, 2)

[3, 4, 5, 6, 7, 8, 1, 2]

In [ ]:
list_31_a = [2005, 2006, 2007, 2008, 2009, 2010]

shift_pos_left(list_31_a, 3)

[2008, 2009, 2010, 2005, 2006, 2007]

32. Rotate a list to the right by `n` positions.

In [ ]:
def shift_pos_right(list_to_shift_right, no_positions):

  length_of_list = len(list_to_shift_right)

  shifted_list = []

  for i in range(length_of_list):

    current_index = i + length_of_list - no_positions

    if current_index > length_of_list-1:

      current_index = current_index - length_of_list

      shifted_list.append(list_to_shift_right[current_index])

    else:

      shifted_list.append(list_to_shift_right[current_index])

  return shifted_list

In [ ]:
list_32 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

shift_pos_right(list_32, 2)

[8, 9, 1, 2, 3, 4, 5, 6, 7]

33. Create a list of prime numbers up to 50.

In [ ]:
def gen_primenumbers(limit_of_primenumbers):

  prime_numbers = []

  for i in range(limit_of_primenumbers):

    if i % 2 != 0:

      prime_numbers.append(i)

  return prime_numbers

In [ ]:
gen_primenumbers(50)

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

34. Split a list into chunks of size `n`.

In [ ]:
def split_list(list_to_be_split, size_of_splits):

  final_split_list = []

  for i in range(int(len(list_to_be_split) / size_of_splits)):

    for i in range(0, len(list_to_be_split), size_of_splits):

      final_split_list.append(list_to_be_split[i:i+size_of_splits])

    break

  return final_split_list

In [ ]:
l_34 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

split_list(l_34, 2)

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

35. Find the second largest number in a list.

In [ ]:
l_35 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def second_largest_no(input_list):

  reverse_sorted_list = sorted(input_list, reverse = True)

  last_2 = reverse_sorted_list[:2]

  print(f"The second largset number in the provided list is {min(last_2)}")

In [ ]:
second_largest_no(l_35)

The second largset number in the provided list is 9

36. Replace every element in a list with its square.

In [ ]:
def replace_with_square(input_list):

  squared_list = []


  for i in range(len(input_list)):

    squared_list.append(input_list[i] * input_list[i])


  return squared_list

In [ ]:
replace_with_square(l_35)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
def list_to_dict(input_list):

  new_dict = {}

  for i in range(len(input_list)):

    new_dict[i]  = input_list[i]

  return new_dict

In [ ]:
list_to_dict(l_35)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

38. Shuffle the elements of a list randomly.

In [ ]:
def shuffle_list(input_list):

  import random

  random.shuffle(input_list)

  return input_list

In [ ]:
shuffle_list(l_35)

[6, 10, 3, 4, 5, 7, 8, 2, 9, 1]

39. Create a list of the first 10 factorial numbers.

In [ ]:
def factorial(n):

  temp = 1

  for i in range(1, n+1):

    temp = temp * i

    print(f"!{i} : {temp}")

In [ ]:
factorial(10)

!1 : 1
!2 : 2
!3 : 6
!4 : 24
!5 : 120
!6 : 720
!7 : 5040
!8 : 40320
!9 : 362880
!10 : 3628800

40. Check if two lists have at least one element in common.

In [ ]:
def comn_elem(list1, list2):

  set1 = set(list1)
  set2 = set(list2)

  common_elements = set1.intersection(set2)

  common_ele_list = list(common_elements)

  print(common_ele_list)

  if len(common_ele_list) >= 1:

    print("The given lists have atleastc one element in common")

  else:

    print("The given listss doesn't have one element in common")

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

In [ ]:
comn_elem(list1, list2)

[3, 4, 5]
The given lists have atleastc one element in common

41. Remove all elements from a list.

In [ ]:
list1.clear()

In [ ]:
list1

[]

42. Replace negative numbers in a list with 0.

In [ ]:
list3 = [-3, -5, 8, 6, -2]

In [ ]:
def replace_neg_to_0(input_list):

  for i in range(len(input_list)):

    if input_list[i] < 0:

      input_list[i] = 0

  return input_list

In [ ]:
replace_neg_to_0(list3)

[0, 0, 8, 6, 0]

43. Convert a string into a list of words.

In [ ]:
original_String = "Hello, World! Hello, Universe!"

In [ ]:
original_string_list = original_String.split()

In [ ]:
original_string_list

['Hello,', 'World!', 'Hello,', 'Universe!']

44. Convert a list of words into a string.

In [ ]:
" ".join(original_string_list)

'Hello, World! Hello, Universe!'

45. Create a list of the first `n` powers of 2.

In [ ]:
def powers_n(n):

  powers_of_n = []

  for i in range(n):

    power = 2**i

    powers_of_n.append(power)

  return powers_of_n

In [ ]:
powers_n(10)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [ ]:
string_46 = "Hello, World! Hello, Universe!"

split_string = string_46.split()

#def long_string(input_string):

  #string_split

In [ ]:
def long_word(input_string):

  length_of_strings =[]

  split_string = input_string.split()

  for i in range(len(split_string)):

    length_of_strings.append(len(split_string[i]))

  for i in range(len(split_string)):

    if len(split_string[i]) == max(length_of_strings):

      print(f"The longest word is {split_string[i]}")

In [ ]:
long_word(string_46)

The longest word is Universe!

47. Find the shortest string in a list of strings.

In [ ]:
def short_word(input_string):

  length_of_strings =[]

  split_string = input_string.split()

  for i in range(len(split_string)):

    length_of_strings.append(len(split_string[i]))

  for i in range(len(split_string)):

    if len(split_string[i]) == min(length_of_strings):

      print(f"The shortest word is {split_string[i]}")

In [ ]:
short_word(string_46)

The shortest word is Hello,
The shortest word is World!
The shortest word is Hello,

48. Create a list of the first `n` triangular numbers.

In [ ]:
def triangular_numbers(n):

  triangular_numbers_list = []

  for i in range(n):

    tri_number = int((i*(i+1))/2)

    triangular_numbers_list.append(tri_number)


  return triangular_numbers_list

In [ ]:
triangular_numbers(10)

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45]

49. Check if a list contains another list as a subsequence.

In [ ]:
def subseq(main_list, subseq_list):

  main_set = set(main_list)

  subseq_set = set(subseq_list)

  common_ele = main_set.intersection(subseq_set)

  index_main = []

  index_sub = []

  if common_ele:

    for i in range(len(main_list)):

      for j in range(len(subseq_list)):

        if main_list[i] == subseq_list[j]:

          index_main.append(i)

          index_sub.append(j)

    sorted_index_main = sorted(index_main)

    sorted_index_sub = sorted(index_sub)

    if index_main == sorted_index_main and index_sub == sorted_index_sub:

      print('Given list is a subsequence list if the main list')

    else:

      print('Given list is not a susequent list of main list')

  else:

    print("The given lists do not have any common elements")

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8]

list2 = [2, 6, 4]

subseq(list1, list2)

Given list is not a susequent list of main list

50. Swap two elements in a list by their indices.

In [ ]:
def swap_ele(input_list, ele1, ele2):

  ele1_idx = 0

  ele2_idx = 0

  for i in range(len(input_list)):

    if input_list[i] == ele1:

      ele1_idx += i

    if input_list[i] == ele2:

      ele2_idx += i

  input_list[ele1_idx] = ele2

  input_list[ele2_idx] = ele1

  return input_list

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
swap_ele(list1, 3, 5)

[1, 2, 5, 4, 3, 6, 7, 8]

**Tuple Based Practice Problem :**

1. Create a tuple with integers from 1 to 5.

In [ ]:
t1 = (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [ ]:
t1[2]

3

3. Find the length of a tuple without using the `len()` function.

In [ ]:
def length_of_tuple(input_tuple):

  length = 0

  for i in input_tuple:

    length += 1

  return length

In [ ]:
length_of_tuple(t1)

5

4. Count the occurrences of an element in a tuple.

In [ ]:
t2 = (1, 2, 2, 3, 2, 4, 2, 5, 2, 6, 2)

In [ ]:
t2.count(2)

6

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
t2

(1, 2, 2, 3, 2, 4, 2, 5, 2, 6, 2)

In [ ]:
t2.index(3)

3

6. Check if an element exists in a tuple.

In [ ]:
t2

(1, 2, 2, 3, 2, 4, 2, 5, 2, 6, 2)

In [ ]:
def find_element():

  if 9 in t2:

    print("The element exist in thwe tuple")

  else:

    print("The element doesn't exist in the list")

7. Convert a tuple to a list.

In [ ]:
t2

(1, 2, 2, 3, 2, 4, 2, 5, 2, 6, 2)

In [ ]:
t2_list = list(t2)

In [ ]:
t2_list

[1, 2, 2, 3, 2, 4, 2, 5, 2, 6, 2]

8. Convert a list to a tuple.

In [ ]:
tuple(t2_list)

(1, 2, 2, 3, 2, 4, 2, 5, 2, 6, 2)

9. Unpack the elements of a tuple into variables.

In [ ]:
t2

(1, 2, 2, 3, 2, 4, 2, 5, 2, 6, 2)

In [ ]:
t3 = (1, 2, 3)

variable_tup1, variable_tup2, variable_tup3 = t3

print(variable_tup1)

print(variable_tup2)

print(variable_tup3)

1
2
3

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
even_num_list = []

for i in range(11):

  if i%2 == 0:

    even_num_list.append(i)


even_num_tuple = tuple(even_num_list)

In [ ]:
even_num_tuple

(0, 2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
odd_num_list = []

for i in range(11):

  if i%2 != 0:

    odd_num_list.append(i)


odd_num_tuple = tuple(odd_num_list)

odd_num_tuple

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
even_num_tuple

(0, 2, 4, 6, 8, 10)

In [ ]:
odd_num_tuple

(1, 3, 5, 7, 9)

In [ ]:
new_tupl = even_num_tuple + odd_num_tuple

13. Repeat a tuple three times.

In [ ]:
t4 = (1, 2, 3)


t4 * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [ ]:
t4

(1, 2, 3)

In [ ]:
def tup_empty(input_tuple):

  if len(input_tuple) == 0:

    print("The input tuple is empty")

  else:

    print("The input tuple is not empty")

In [ ]:
tup_empty(t4)

The input tuple is not empty

In [ ]:
t5 = ()

In [ ]:
tup_empty(t5)

The input tuple is empty

15. Create a nested tuple.

In [ ]:
t6  = ((1, 2, 3), (4, 5, 6))

In [ ]:
t6

((1, 2, 3), (4, 5, 6))

16. Access the first element of a nested tuple.

In [ ]:
t6[0]

(1, 2, 3)

17. Create a tuple with a single element.

In [ ]:
t7 = (2)

In [ ]:
t7

2

18. Compare two tuples.

In [ ]:
def comp_tuples(input_tuple1, input_tuple2):

  if input_tuple1 == input_tuple2:

    print('Both tuples are equal')

  else:

    print('Both tuples are not equal')

In [ ]:
t8 = (1, 2, 3, 4)

t9 = (1, 2, 3, 4)

t10 = (2, 3, 4, 5)


comp_tuples(t8, t9)

Both tuples are equal

In [ ]:
comp_tuples(t9, t10)

Both tuples are not equal

19. Delete a tuple.

In [ ]:
t8

(1, 2, 3, 4)

In [ ]:
del t8

20. Slice a tuple.

In [ ]:
t11 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

t11[4:8]

(5, 6, 7, 8)

21. Find the maximum value in a tuple.

In [ ]:
max(t11)

10

22. Find the minimum value in a tuple.

In [ ]:
min(t11)

1

23. Convert a string to a tuple of characters.

In [ ]:
s1 = "AathmaRaama"

In [ ]:
s1_list = []

for i in range(len(s1)):

  s1_list.append(s1[i])

In [ ]:
s1_list

['A', 'a', 't', 'h', 'm', 'a', 'R', 'a', 'a', 'm', 'a']

In [ ]:
s1_tuple = tuple(s1_list)

In [ ]:
s1_tuple

('A', 'a', 't', 'h', 'm', 'a', 'R', 'a', 'a', 'm', 'a')

25. Create a tuple from multiple data types.

In [ ]:
t12 = (1, "string", True, 1.234)

In [ ]:
t12

(1, 'string', True, 1.234)

26. Check if two tuples are identical.

In [ ]:
t13 = (9,8,7,6)

t14 = (9,8,7,6)

t15 = (1,2,3,4)

def check_identical(t1, t2):

  if t1 == t2:

    print("The provided tuples are identical")

  else:

    print("The provided tuples are not identical")

In [ ]:
check_identical(t13, t14)

The provided tuples are identical

In [ ]:
check_identical(t13, t15)

The provided tuples are not identical

27. Sort the elements of a tuple.

In [ ]:
t16 = (3, 5, 6, 23, 34, 56, 78, 98, 35, 46, 56)

sorted_tuple = sorted(t16)

In [ ]:
sorted_tuple

[3, 5, 6, 23, 34, 35, 46, 56, 56, 78, 98]

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
def int_to_string(input_tuple):

  string_list = []

  for i in range(len(input_tuple)):

    string_list.append(str(input_tuple[i]))

  string_tup = tuple(string_list)

  return string_tup

In [ ]:
t16_string = int_to_string(t16)

In [ ]:
t16_string

('3', '5', '6', '23', '34', '56', '78', '98', '35', '46', '56')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
def string_to_int(input_tuple):

  int_list = []

  for i in range(len(input_tuple)):

    int_list.append(int(input_tuple[i]))

  int_tuple = tuple(int_list)

  return int_tuple

In [ ]:
t16_int = string_to_int(t16_string)

In [ ]:
t16_int

(3, 5, 6, 23, 34, 56, 78, 98, 35, 46, 56)

30. Merge two tuples.

In [ ]:
def merge_tuples(tuple_1, tuple_2):

  merged = tuple_1 + tuple_2

  return merged

In [ ]:
t16_merged = merge_tuples(t16_string, t16_int)

In [ ]:
t16_merged

('3',
 '5',
 '6',
 '23',
 '34',
 '56',
 '78',
 '98',
 '35',
 '46',
 '56',
 3,
 5,
 6,
 23,
 34,
 56,
 78,
 98,
 35,
 46,
 56)

31. Flatten a nested tuple.

In [ ]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
def flatten_tuple(input_tuple):

  flatten_list = []

  for i in range(len(input_tuple)):

    for j in range(len(input_tuple[i])):

      flatten_list.append(input_tuple[i][j])

  flatten_tuple = tuple(flatten_list)

  return flatten_tuple

In [ ]:
flatten_tuple(nested_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
def prime_no_tuple(no_of_primenos):

  prime_number_list = []

  for i in range(0, 100):

    if len(prime_number_list) <= no_of_primenos - 1:

      if i%2 != 0:

        prime_number_list.append(i)

  prime_number_tuple = tuple(prime_number_list)

  return prime_number_tuple

In [ ]:
prime_no_tuple(5)

(1, 3, 5, 7, 9)

In [ ]:
prime_no_tuple(10)

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

33. Check if a tuple is a palindrome.

In [ ]:
def tuple_palindrome(input_tuple):

  input_list = list(input_tuple)

  reversed_input_list = input_list[::-1]

  reversed_input_tuple = tuple(reversed_input_list)

  if input_tuple == reversed_input_tuple:

    print("The given tuple is a palindrome")

  else:

    print("The given tuple is not a palindrome")

In [ ]:
tuple1 = (1, 2, 3, 4, 5, 6)

tuple_palindrome(tuple1)

The given tuple is not a palindrome

In [ ]:
tuple2 = (1, 1, 1, 6, 1, 1, 1)

tuple_palindrome(tuple2)

The given tuple is a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
squares = []

for i in range(1, 6):

  squares.append(i*i)

squares_tuple = tuple(squares)

print(squares_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [ ]:
def filter_even_no(input_tuple):

  input_list = list(input_tuple)

  for i in input_list:

    if i%2==0:

      input_list.remove(i)

  return tuple(input_list)

In [ ]:
tuple3 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filter_even_no(tuple3)

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [ ]:
tuple3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
tuple4 = tuple(i*2 for i in tuple3)

In [ ]:
print(tuple4)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [ ]:
def rand_tuple(size_of_tuple):

  import random

  random_tuple = tuple(random.randint(1, 100) for i in range(size_of_tuple))

  return random_tuple

In [ ]:
rand_tuple(5)

(86, 85, 99, 39, 61)

38. Check if a tuple is sorted.

In [ ]:
def check_sorted_tuple(input_tuple):

  input_list = list(input_tuple)

  sorted_input_list = sorted(input_list)

  if input_list == sorted_input_list:

    print('The given tuple is sorted')

  else:

    print('The given tuple is not sorted')

In [ ]:
tuple5 = (1, 2, 3, 4, 5, 6)

tuple6 = (7, 8, 9, 8, 12)

check_sorted_tuple(tuple5)

check_sorted_tuple(tuple6)

The given tuple is sorted
The given tuple is not sorted

39. Rotate a tuple to the left by `n` positions.

In [ ]:
def shift_tuple_pos_left(input_tuple, no_of_pos):

  input_list = list(input_tuple)

  left_shifted = []

  for i in range(len(input_list)):

    index = i + no_of_pos

    if index > len(input_list)-1:

      index = index - len(input_list)

      left_shifted.append(input_list[index])

    else:

      left_shifted.append(input_list[index])


  return tuple(left_shifted)

In [ ]:
tuple6

(7, 8, 9, 8, 12)

In [ ]:
shift_tuple_pos_left(tuple6, 2)

(9, 8, 12, 7, 8)

40. Rotate a tuple to the right by `n` positions.

In [ ]:
def shift_tuple_pos_right(input_tuple, no_of_pos):

  input_list = list(input_tuple)

  right_shifted = []

  for i in range(len(input_list)):

    index = i + len(input_list) - no_of_pos

    if index > len(input_list)-1:

      index = index - len(input_list)

      right_shifted.append(input_list[index])

    else:

      right_shifted.append(input_list[index])


  return tuple(right_shifted)

In [ ]:
tuple7 = (9,8,7,6,5,4)

shift_tuple_pos_right(tuple7, 2)

(5, 4, 9, 8, 7, 6)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
def fib_tuple(no_of_fib):

  init_fib = [0,1]

  for i in range(0, 100):

    if len(init_fib)+1<= no_of_fib:

      init_fib.append(init_fib[i]+init_fib[i+1])

  return tuple(init_fib)

In [ ]:
fib_tuple(5)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [ ]:
user_input = input("Enter the elements of the tuple: ")

split_user_input = user_input.split(",")

split_user_input

Enter the elements of the tuple: 1,2,3,4,5,6,7,8,9

['1', '2', '3', '4', '5', '6', '7', '8', '9']

43. Swap two elements in a tuple.

In [ ]:
def swap(input_tuple, ele1, ele2):

  input_list = list(input_tuple)

  idx_ele1 = 0
  idx_ele2 = 0

  for i in range(len(input_list)):

    if input_list[i] == ele1:

      idx_ele1 += i

    elif input_list[i] == ele2:

      idx_ele2 += i

  input_list[idx_ele1] = ele2

  input_list[idx_ele2] = ele1

  return tuple(input_list)

In [ ]:
tup1 = (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
swap(tup1, 3, 6)

(1, 2, 6, 4, 5, 3, 7, 8)

44. Reverse the elements of a tuple.

In [ ]:
def reverse_tuple(input_tuple):

  input_list = list(input_tuple)

  reversed_input_list = input_list[::-1]

  return tuple(reversed_input_list)

In [ ]:
reverse_tuple(tup1)

(8, 7, 6, 5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [ ]:
def powers_of_2(n):

  powersof_2 = tuple( 2**i for i in range(1, n+1))

  return powersof_2

In [ ]:
powers_of_2(10)

(2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

46. Find the longest string in a tuple of strings.

In [ ]:
def long_string(input_tuple):

  input_list = list(input_tuple)

  string_len = []

  for i in range(len(input_list)):

    string_len.append(len(input_list[i]))

  max_length = max(string_len)

  for i in range(len(input_list)):

    if len(input_list[i]) == max_length:

      print(f"The longest word in the given sentence is: {input_list[i]}")

In [ ]:
tuple23 = ("a", "Teju", "Power rangers", "Dexter's Laboratory")

In [ ]:
long_string(tuple23)

The longest word in the given sentence is: Dexter's Laboratory

47. Find the shortest string in a tuple of strings.

In [ ]:
def short_string(input_tuple):

  input_list = list(input_tuple)

  string_len = []

  for i in range(len(input_list)):

    string_len.append(len(input_list[i]))

  min_length = min(string_len)

  for i in range(len(input_list)):

    if len(input_list[i]) == min_length:

      print(f"The shortest word in the given sentence is: {input_list[i]}")

In [ ]:
tuple23 = ("a", "Teju", "Power rangers", "Dexter's Laboratory")

In [ ]:
short_string(tuple23)

The shortest word in the given sentence is: a

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
def triangular_numbers_tuple(n):

  n_list = [(i*(i+1))/2 for i in range(n)]

  return n_list

In [ ]:
triangular_numbers_tuple(10)

[0.0, 1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0]

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
def sub_seq_tup(main_tuple, sub_tuple):
    main_list = list(main_tuple)
    sub_list = list(sub_tuple)

    main_set = set(main_tuple)
    sub_set = set(sub_tuple)

    main_list_idx = []
    sub_list_idx = []

    common_ele = main_set.intersection(sub_set)

    if common_ele:


      for i in range(len(main_list)):
          for j in range(len(sub_list)):
              if main_list[i] == sub_list[j]:
                  main_list_idx.append(i)
                  sub_list_idx.append(j)

    sorted_main_idx = sorted(main_list_idx)
    sorted_sub_idx = sorted(sub_list_idx)

    if main_list_idx == sorted_main_idx and sub_list_idx == sorted_sub_idx:
        print('The provided sub set is a subsequence of the main set')
    else:
        print('The provided sub set is not a subsequence of the main set')

In [ ]:
tup12 = (1, 2, 3, 4, 5, 6)

tup13 = (2, 6, 4)

sub_seq_tup(tup12, tup13)

The provided sub set is not a subsequence of the main set

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
def zeros_and_ones(n):

  one_zero_list = []

  for i in range(n):

    if i%2 == 0:

      one_zero_list.append(1)

    else:

      one_zero_list.append(0)

  return tuple(one_zero_list)

In [ ]:
zeros_and_ones(10)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

**Set Based Practice Problem :**

1. Create a set with integers from 1 to 5.

In [ ]:
def set_integers(n):

  set_n = []

  for i in range(1, n+1):

    set_n.append(i)

  return set(set_n)

In [ ]:
set_integers(5)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [ ]:
set1 = {1, 2, 3, 4, 5}

In [ ]:
set1.add(6)

In [ ]:
set1

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [ ]:
set1.remove(6)

In [ ]:
set1

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [1]:
set2 = {1, 2, 3, 4, 5, 6}

In [5]:
element = 6

if element in set2:

  print('The given element exist in the set')

else:

  print('The given element does not exist in the set')

The given element exist in the set

5. Find the length of a set without using the `len()` function.

In [8]:
set3 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

length_of_set = 0

for i in set3:

  length_of_set += 1

length_of_set

10

6. Clear all elements from a set.

In [9]:
set3.clear()

In [10]:
set3

set()

7. Create a set of even numbers from 1 to 10.

In [14]:
def even_numbers(n):

  even_set = set({})

  for i in range(n+1):

    if i % 2 == 0:

      even_set.add(i)

  return even_set

In [16]:
type(even_numbers(10))

set

In [17]:
even_numbers(10)

{0, 2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [19]:
def odd_numbers(n):

  odd_set = set({})

  for i in range(n+1):

    if i % 2 != 0:

      odd_set.add(i)

  return odd_set

In [20]:
odd_numbers(10)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [21]:
set90  = {1,2,3,4}

set91 = {5,6,7,8}

In [22]:
set90.union(set91)

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [23]:
set10 = {1, 2, 3, 4, 5}

set11 = {2, 3, 4}

set10.intersection(set11)

{2, 3, 4}

11. Find the difference between two sets.

In [24]:
set10.difference(set11)

{1, 5}

12. Check if a set is a subset of another set.

In [25]:
set11.issubset(set10)

True

13. Check if a set is a superset of another set.

In [26]:
set10.issuperset(set11)

True

14. Create a set from a list.

In [27]:
list_set = [1,2,3,4,5,6,7,8,9]

In [28]:
set_list = set(list_set)

In [30]:
set_list

{1, 2, 3, 4, 5, 6, 7, 8, 9}

15. Convert a set to a list.

In [31]:
list_15 = list(set_list)

In [32]:
list_15

[1, 2, 3, 4, 5, 6, 7, 8, 9]

16. Remove a random element from a set.

In [34]:
import random

set_list.remove(random.choice(list(set_list)))

set_list

{1, 2, 3, 4, 6, 7, 8, 9}

17. Pop an element from a set.

In [35]:
set_list

{1, 2, 3, 4, 6, 7, 8, 9}

In [37]:
set_list.pop()

1

18. Check if two sets have no elements in common.

In [39]:
set18 = {1,2,3,4,5,6}

set18a = {7,8,9,7,8,9}

common_elements = set18.intersection(set18a)

if common_elements:

  print('There are common elements in the provided sets')

else:

  print('There are no common elements in the list')

There are common elements in the provided sets

19. Find the symmetric difference between two sets.

In [41]:
set19 = {1, 2, 3, 4}
set19a = {3, 4, 5, 6}

In [42]:
set19.symmetric_difference(set19a)

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [45]:
set19

{1, 2, 3, 4}

In [46]:
set19a

{3, 4, 5, 6}

In [47]:
set19.update(set19a)

In [48]:
set19

{1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [3]:
def prime_set(n):

  prime_no_set = set({})

  for i in range(n+1):

    if i == 1 or i == 3:

      prime_no_set.add(i)

    elif i % 2 != 0 and i % 3 != 0:

      prime_no_set.add(i)


  return prime_no_set

In [4]:
prime_set(15)

{1, 3, 5, 7, 11, 13}

22. Check if two sets are identical.

In [5]:
def check_identical(set1, set2):

  if set1 == set2:

    print("The given sets are identical")

  else:

    print("The given sets are not identical")

In [9]:
set22 = {1,2,3,4,5,6}
set22a = {1,2,3,4,5,6}
set22b = {7,8,9,7,8,9}

In [10]:
check_identical(set22, set22a)

The given sets are identical

In [11]:
check_identical(set22, set22b)

The given sets are not identical

23. Create a frozen set.

In [12]:
froze_set = frozenset([1,33,45,68,78])

In [13]:
froze_set

frozenset({1, 33, 45, 68, 78})

24. Check if a set is disjoint with another set.

In [21]:
set22

{1, 2, 3, 4, 5, 6}

In [22]:
set22a

{1, 2, 3, 4, 5, 6}

In [23]:
set22.isdisjoint(set22a)

False

25. Create a set of squares of numbers from 1 to 5.

In [24]:
def set_squares(n):

  set_of_sqaures = set([])

  for i in range(1, n+1):

    set_of_sqaures.add(i*i)

  return set_of_sqaures

In [25]:
set_squares(5)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [28]:
def filter_even(input_set):

  odd_set = set([])

  for i in input_set:

    if i % 2 != 0:

      odd_set.add(i)

  return odd_set

In [29]:
set26 = {1,2,3,4,6,7,8,9,10}

filter_even(set26)

{1, 3, 7, 9}

27. Multiply all elements in a set by 2.

In [1]:
set27 = {1,2,3,4,5,6,7,8,9}

In [7]:
def set_multiple(input_set, multiplier):

  multiplied_set = set([])

  for i in list(input_set):

    multiplied_set.add(i*2)

  return multiplied_set

In [8]:
set_multiple(set27, 2)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

28. Create a set of random numbers.

In [13]:
def create_rand_set(no_of_elements):

  import random

  random_int = set([])

  for i in range(no_of_elements+1):

    random_int.add(random.randint(1,100))

  return random_int

In [14]:
create_rand_set(10)

{42, 47, 50, 57, 59, 61, 66, 73, 76, 94}

29. Check if a set is empty.

In [17]:
set_29 = {}

In [18]:
if set_29:

  print('The set is not empty')

else:

  print('The set is empty')

The set is empty

30. Create a nested set (hint: use frozenset).

In [21]:
s30 = {frozenset([1,2]),frozenset([3,4]),frozenset([5,6]),frozenset([6,7])}

In [22]:
s30

{frozenset({3, 4}), frozenset({6, 7}), frozenset({5, 6}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [23]:
s30

{frozenset({3, 4}), frozenset({6, 7}), frozenset({5, 6}), frozenset({1, 2})}

In [24]:
s30.discard(frozenset({3, 4}))

In [25]:
s30

{frozenset({6, 7}), frozenset({5, 6}), frozenset({1, 2})}

32. Compare two sets.

In [26]:
set32a = {9,8,7,6,5,4}

set32b = {6,5,4,3,2,1}

In [28]:
intersection_set32 = set32a.intersection(set32b)

union_set32 = set32a.union(set32b)

disjoint_set32 = set32a.isdisjoint(set32b)

subset_set32 = set32a.issubset(set32b)

superset_set32 = set32a.issuperset(set32b)

difference_set32a_set32b = set32a.difference(set32b)

difference_set32b_set32a = set32b.difference(set32a)

print(f"The intersection of set32: {intersection_set32}")

print(f"The union of set32: {union_set32}")

print(f"Is set32a and set32b disjoint set: {disjoint_set32}")

print(f"Is set32a is superset of 32b: {superset_set32}")

print(f"Elements which exist in set32a but not in set32b: {difference_set32a_set32b}")

print(f"Elements which exsit in set32b but not in set32a: {difference_set32b_set32a}")

The intersection of set32: {4, 5, 6, 7, 8, 9}
The union of set32: {4, 5, 6, 7, 8, 9}
Is set32a and set32b disjoint set: False
Is set32a is superset of 32b: True
Elements which exist in set32a but not in set32b: set()
Elements which exsit in set32b but not in set32a: set()

33. Create a set from a string.

In [40]:
def string_to_set(input_string):

  remove_spaces = input_string.replace(" ", "")

  #input_string_split = remove_spaces.split()

  string_set = set([])

  for i in range(len(remove_spaces)):

    string_set.add(remove_spaces[i])

  return string_set

In [41]:
s33 = "I live in Vancouver Canada"

In [42]:
string_to_set(s33)

{'C', 'I', 'V', 'a', 'c', 'd', 'e', 'i', 'l', 'n', 'o', 'r', 'u', 'v'}

34. Convert a set of strings to a set of integers.

In [43]:
s34 = set(["1", "2", "3", "4", "5", "6", "7", "8"])

In [47]:
s35 = set([])

for i in s34:

  s35.add(int(i))

s35

{1, 2, 3, 4, 5, 6, 7, 8}

35. Convert a set of integers to a set of strings.

In [48]:
s36 = set([])

for i in s35:

  s36.add(str(i))

s36

{'1', '2', '3', '4', '5', '6', '7', '8'}

36. Create a set from a tuple.

In [50]:
s36a = (1,2,3,4,5,6)

In [52]:

s36b = set(s36a)

s36b

{1, 2, 3, 4, 5, 6}

37. Convert a set to a tuple.

In [53]:
s36b

{1, 2, 3, 4, 5, 6}

In [54]:
s37 = tuple(s36b)

s37

(1, 2, 3, 4, 5, 6)

38. Find the maximum value in a set.

In [55]:
max(s37)

6

39. Find the minimum value in a set.

In [56]:
min(s37)

1

40. Create a set from user input.

In [58]:
print("Enter the elements of the set (Type done when you are done)")

user_set = set([])

while True:

  user_input = input('> ')

  if user_input.lower() == 'done':

    break

  user_set.add(user_input)

user_set

Enter teh elements of the set (Type done when you are done)
> 1
> 2
> 3
> 4
> 5
> done

{'1', '2', '3', '4', '5'}

41. Check if the intersection of two sets is empty.

In [62]:
set41a = {1,2,3,4,5,6}
set41b = {4,5,6,7,8,9}
set41c = {7,8,8,7,8,9}

In [63]:
if set41a.intersection(set41b):

  print('The provided sets have common elements')

else:

  print('The provided elemets do not have common elements')

The provided sets have common elements

In [64]:
if set41a.intersection(set41c):

  print('The provided sets have common elements')

else:

  print('The provided elemets do not have common elements')

The provided elemets do not have common elements

42. Create a set of the first 5 Fibonacci numbers.

In [68]:
fib_ele = [0, 1]

for i in range(10):

  if len(fib_ele) != 6:

    fib_ele.append(fib_ele[i] + fib_ele[i+1])

set(fib_ele)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [69]:
l43 = [1,2,3,4,5,5,6,6,7,7,8,8]

s43 = set(l43)

In [70]:
s43

{1, 2, 3, 4, 5, 6, 7, 8}

44. Check if two sets have the same elements, regardless of their count.

In [71]:
def check_identical_sets(set1, set2):

  sorted_list1 = sorted(list(set1))
  sorted_list2 = sorted(list(set2))

  if sorted_list1 == sorted_list2:

    print("Both the sets have same elements")

  else:

    print("Both the sets do not have same elements")

In [72]:
s44a = {1,2,3,4,5,6,7,8,9}
s44b = {1,2,3,4,5,6,7,8,9}
s44c = {1,2,3}

In [73]:
check_identical_sets(s44a, s44b)

Both the sets have same elements

In [74]:
check_identical_sets(s44a, s44c)

Both the sets do not have same elements

45. Create a set of the first `n` powers of 2.

In [77]:
def set_n_powers_2(n):

  n_powers_set = set([])

  for i in range(1,n+1):

    n_powers_set.add(2**i)

  return n_powers_set

In [78]:
set_n_powers_2(10)

{2, 4, 8, 16, 32, 64, 128, 256, 512, 1024}

46. Find the common elements between a set and a list.

In [79]:
s46a = {0,1,2,3,4,5}

l46a = [0,1,2,5,4,6,7]

s46a.intersection(set(l46a))

{0, 1, 2, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [83]:
def triangluar_no_set(n):

  tri_no_set = set({})

  for i in range(1,n+1):

    tri_no_set.add(int((i*(i+1))/2))

  return tri_no_set

In [84]:
triangluar_no_set(10)

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

48. Check if a set contains another set as a subset.

In [85]:
s48a = {1,2,3,4,5,6}

s48b = {1,2,3}

s48b.issubset(s48a)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [86]:
def zero_one_set(n):

  z_o_set = set([])

  for i in range(1, n + 1):

    if i%2 != 0:

      z_o_set.add(1)

    else:

      z_o_set.add(0)

  return z_o_set

In [87]:
zero_one_set(10)

{0, 1}

50. Merge multiple sets into one.

In [88]:
s50a = {1,2}
s50b = {3,4}
s50c = {5,6}
s50d = {7,8}

s50e = set(list(s50a) + list(s50b) + list(s50c) + list(s50d))

In [89]:
s50e

{1, 2, 3, 4, 5, 6, 7, 8}